.Button {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
    border : none;
    border-radius: 5px;
    padding : 10px 20px;
    font-size: 18px;
    white-space: nowrap;
}

.Button_EXCELLENT {
    background-color: rgb(87, 173, 87);
    color : white;
}

.Button_GOOD {
    background-color: rgb(211, 81, 114);
    color : white;
}
.Button_FAIR {
    background-color: rgb(211, 81, 114);
    color : white;
}
.Button_POOR {
    background-color: rgb(87, 173, 87);
    color : white;
}
.Button_TERRIBLE {
    background-color: rgb(87, 173, 87);
    color : white;
}