.EmotionItem {
    background-color: rgb(236, 236, 236);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;

}

.EmotionItem .emotion_img {
    width: 50%;
    margin-bottom: 10px;
}

.EmotionItem .emotion_name {}

.EmotionItem_on_1 {
    color: white;
    background-color: rgb(100, 201, 100); /* 첫 번째 이미지 섹션의 배경색을 녹색으로 설정 */

}

.EmotionItem_on_2 {
    color: white;
    background-color: rgb(157, 215, 114); /* 두 번째 이미지 섹션의 배경색을 연한 녹색으로 설정 */

}

.EmotionItem_on_3 {
    color: white;
    background-color: rgb(253, 206, 23); /* 세 번째 이미지 섹션의 배경색을 노란색으로 설정 */

}

.EmotionItem_on_4 {
    color: white;
    background-color: rgb(253, 86, 95); /* 네 번째 이미지 섹션의 배경색을 붉은색으로 설정 */

}

.EmotionItem_on_5 {
    color: white;
    background-color: rgb(253, 86, 95); /* 네 번째 이미지 섹션의 배경색을 붉은색으로 설정 */

}